
<h1>Hello! Welcome to the Home page</h1>
<p>"Не оглядывайтесь назад - вы не идете в этом направлении." - Льюис Кэрролл <br>
  "Успех - это способность перейти от одного неудачного варианта к другому без потери энтузиазма." - Уинстон Черчилль<br>
  "Не стоит ждать идеальных условий для достижения своих целей. Используйте то, что есть, и работайте вдоль своих возможностей." - Тед Тернер<br>
  "Большинство людей проводят большую часть своей жизни, просто выжидая - они ждут правильного момента для начала жизни." - Брайан Трейси<br>
  "Если вы хотите иметь то, чего вы никогда не имели, вам нужно делать то, что вы никогда не делали." - Дейв Рамси<br>
</p>
<a routerLink="/quotes">See more qoutes</a>
